name: CI

on:
  push:
    branches:
      - renovate/*
      - main
  pull_request:
    branches:
      - main
  workflow_call:

env:
  NODE_VERSION: 18

defaults:
  run:
    shell: pwsh

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Type Check
        run: npm run tsc

      - name: Build
        run: npm run build

      - name: Upload Build
        uses: actions/upload-artifact@v7
        with:
          name: Build
          path: dist

  run:
    name: Run

    needs:
      - build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install dependencies
        run: npm ci
      
      - name: Download Build
        uses: actions/download-artifact@v8
        with:
          name: Build

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Run
        run: npm run start
